# Compose will auto-detect these; copy to .env and adjust the values
POSTGRES_USER=app_connector_postgres
POSTGRES_PASSWORD=f4ncy_p0stgr3s_p4sswOrd
POSTGRES_DB=insurance_db
JWT_SECRET=f4ncy_key_4_jwt_t0k3ns_pl34s3_ch4ng3
JWT_ALGORITHM=HS256
