# requirements.in file for pip-tools
# Compile with `pip-compile -o requirements.txt --generate-hashes requirements.in`

# Database deps
sqlalchemy
psycopg2-binary
alembic

# API deps
pydantic-settings
pydantic
pydantic[email]
fastapi
uvicorn

# Auth
python-multipart
PyJWT
passlib[argon2]>=1.7.4
argon2-cffi>=23.1.0